{# templates/invoice.html.twig #}

{% extends 'navigation.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Payment List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>

    <div class="container">
        <h1>Payment List</h1>

        {# Filter Form #}
        <form action="{{ path('datagird_payments_filter_apply') }}" method="get" class="d-flex flex-column">
            <div class="d-flex">
                <div class="flex-grow-1 form-group mr-2">
                    {% set fieldName = 'filter_payment_creationDate_from' %}
                    <label for="fromDate">Creation date from:</label>
                    <input type="date" class="form-control" id="{{ fieldName }}" name="{{ fieldName }}" {% if app.session.get(fieldName) %} value="{{ app.session.get(fieldName) }}" {% endif %}>
                </div>
                <div class="flex-grow-1 form-group">
                    {% set fieldName = 'filter_payment_creationDate_to' %}
                    <label for="toDate">Creation date to:</label>
                    <input type="date" class="form-control" id="{{ fieldName }}" name="{{ fieldName }}" {% if app.session.get(fieldName) %} value="{{ app.session.get(fieldName) }}" {% endif %}>
                </div>
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary mr-2">Apply Filter</button>
                <a href="{{ path('datagird_payments_filter_clear') }}" class="btn btn-primary mr-2">Clear Filters</a>
                <a href="{{ path('datagird_payments_export_csv') }}" class="btn btn-secondary">Export to CSV</a>
            </div>
        </form>


        <br>

        <table class="table">
            <thead>
            <tr>
                <th>Reference</th>
                <th>Creation Date</th>
                <th>Amount</th>
                <th>IBAN</th>
                <th>Statement</th>
                <th>Creditor</th>
                <th>Debtor</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.reference }}</td>
                    <td>{{ payment.creationDate|date('Y-m-d') }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.iban }}</td>
                    <td>{{ payment.statement.reference }}</td>
                    <td>{{ payment.statement.creditor.name }}</td>
                    <td>{{ payment.statement.debtor.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </body>
    </html>
{% endblock %}
